<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lich su</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <style>
        
    </style>
</head>
<body class="flex flex-col justify-center items-center bg-[#F3F1EC] overflow-x-hidden">
    <div class="navb flex flex-row h-[80px] w-[100vw] justify-between mb-[50px] bg-[#dea069] text-white shadow-[0_5px_15px_rgba(0,0,0,0.35)]">
        <div class="infor-shop h-[80px] w-fit flex flex-row justify-center items-center ml-2">
            <img class="w-[50px] h-[50px] rounded-[999px] ml-[20px]" src="/img/tienhungw.jpg" alt="">
            <h2 class="text-[30px] font-medium ml-[10px] mt-[10px] font-['Kaushan_Script']">TH Shop</h2>
        </div>

        <div class="relative h-[80px] w-[50vw] absolute right-[20px]">
            <div class="flex flex-row h-[40px] bg-white w-[400px] absolute right-[20px] rounded-3xl justify-between mt-1">
                <input class="outline-none text-gray-600 pl-4" type="text" placeholder="Tìm kiếm sản phẩm">
                <box-icon class="mr-3 mt-2 cursor-pointer" name='search' flip='horizontal' color='rgba(0,0,0,0.8)' ></box-icon>
            </div>
            <div class="flex flex-row absolute gap-[30px] right-[20px] bottom-[6px] text-lg font-normal">
                <a id="gotoPage1" class="cursor-pointer" href="/user/home">Trang chủ</a>
                <a id="gotoPage2" class="cursor-pointer" href="/user/cart">Giỏ hàng</a>
                <a id="gotoPage3" class="cursor-pointer underline" style="text-underline-offset: 4px; text-decoration-thickness: 2px;" href="/user/history">Lịch sử</a>
                <a id="gotoPage4" class="cursor-pointer" href="/user/about">Thông tin</a>
                <a id="gotoPage5" class="cursor-pointer" href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="w-[80vw] h-fit relative">
        <p class="text-3xl font-normal text-[#a86f3b] mb-6">LỊCH SỬ MUA HÀNG</p>
        <p class="text-[27px] font-normal mb-10">Tất cả đơn hàng đã đặt</p>
        <div>
            <table class="min-w-full border border-white table-fixed border-collapse">
                <thead>
                    <tr class="bg-[#dea069]">
                        <th class="border border-white w-[30px] h-[40px] text-white text-lg font-medium">Mã đơn</th>
                        <th class="border border-white w-[50px] h-[40px] text-white text-lg font-medium">Họ tên</th>
                        <th class="border border-white w-[60px] h-[40px] text-white text-lg font-medium">Địa chỉ</th>
                        <th class="border border-white w-[50px] h-[40px] text-white text-lg font-medium">Giá trị</th>
                        <th class="border border-white w-[70px] h-[40px] text-white text-lg font-medium">Trạng thái</th>
                        <th class="border border-white w-[60px] h-[40px] text-white text-lg font-medium">Thao tác</th>
                    </tr>
                </thead>
                <tbody class="bg-[#dfe4ea] justify-center items-center">
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}" class="border border-white w-[100px] p-2 text-center overflow-hidden text-ellipsis whitespace-normal"></td>
                        <td th:text="${order.user.full_name}" class="border border-white w-[150px] p-2 text-center justify-center items-center"></td>
                        <td th:text="${order.user.address}" class="border border-white w-[200px] p-2 text-center"></td>
                        <td th:text="${order.totalPrice}" class="border border-white w-[150px] p-2 text-center"></td>
                        <td th:text="${order.status}" class="border border-white w-[150px] p-2 text-center"></td>
                        <td class="border border-white w-[150px] p-2 text-center">
                            <div class="flex flex-col gap-1 items-center" id="lsct1">
                                <form th:action="@{'/user/order/'+${order.id}}" method="get"><button class="text-lg font-medium text-white w-[100px] h-[30px] bg-[#DAB10C] rounded-xl cursor-pointer">Chi tiết</button></form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="w-[100vw] mt-[100px] mb-5 ml-1 flex-col text-center mb-10">
        <div class="text-lg font-medium text-gray-600 text-center mb-2">
            © 2025 Bản quyền thuộc về TH Shop
        </div>
        <div class="text-lg font-normal text-gray-600 text-center">
            Cảm ơn quý khách đã tin tưởng và ủng hộ cửa hàng!
        </div>
        <div class="text-lg font-normal text-gray-600 text-center mb-3">
            Thông tin liên hệ
        </div>
        <div class="flex flex-row text-center absolute left-[50%] -translate-x-[50%]">
            <div class="flex flex-row">
                <box-icon name='facebook-circle' type='logo' color='rgba(0,0,0,0.70)' ></box-icon>
                <a target="_blank" class="mr-8 w-[150px] text-gray-700 hover:text-[#009432]" href="https://www.facebook.com/holahuliba">Nguyễn Tiến Hưng</a>
            </div>

            <div class="flex flex-row">
                <box-icon name='phone' type='solid' color='rgba(0,0,0,0.70)' ></box-icon>
                <p class="mr-8 w-[100px] text-gray-700 hover:text-[#009432]">0327644604</p>
            </div>

            <div class="flex flex-row">
                <box-icon name='envelope' color='rgba(0,0,0,0.70)' ></box-icon>
                <a target="_blank" class="mr-8 w-[280px] text-gray-700 hover:text-[#009432]" href="https://mail.google.com/mail/u/0/?pli=1#inbox">nguyentienhung04042004gmail.com</a>
            </div>

            <div class="flex flex-row">
                <box-icon name='instagram' type='logo' color='rgba(0,0,0,0.70)' ></box-icon>
                <a target="_blank" class="w-[150px] text-gray-700 hover:text-[#009432]" href="https://www.instagram.com/holahuliba/">Nguyễn Tiến Hưng</a>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/chatbox :: chatbox}"></div>
</body>
</html>